<template name="home">
  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-home"></span> UMF de St-Eustache</h1>
    <p>
      L’Unité de médecine de famille* (UMF) Saint-Eustache accueille des médecins résidents**, des externes, des médecins superviseurs, des médecins de famille, une infirmière clinicienne, une infirmière praticienne, un psychologue et un pharmacien qui offrent des services de santé.
    </p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-calendar logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Consultations médicales sur rendez-vous <small>Service offert à la clientèle inscrite à l’Unité de médecine de famille</small></h2>
        <p class="bg-warning">POUR LA CLIENTÈLE À LA RECHERCHE D’UN MÉDECIN DE FAMILLE. Pour vous inscrire à la liste d’attente, complétez le <a href="https://www.moncsss.com/projets-speciaux/acces-a-un-medecin-de-famille.html">formulaire en ligne</a>.</p>
        <h4>Prendre rendez-vous par téléphone</h4>
        <p><span class="glyphicon glyphicon-phone"></span>450 491-6001</p>
        <h4>Prendre rendez-vous en ligne avec Bonjour-santé</h4>
        <p>Selectionner votre médecin</p>
        <button class="btn btn-default btn-lg">Dre Leblanc</button>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-time logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Service de consultation médicale sans rendez-vous <small><i>Service offert à tous</i></small></h2>
        <p>Pour réserver une place au service de consultation sans rendez-vous, inscrivez-vous en ligne à Bonjour-santé ou communiquez avec ce service par téléphone au 450 970-3118.</p>
        <p>Le processus d'inscription ne prend que quelques minutes. En fournissant votre numéro de carte d'assurance maladie, Bonjour-santé pourra vous donner l'heure approximative de votre consultaton. Ce service vous offre en plus un rappel téléphonique afin de confirmer votre présence.</p>
        <p><strong>Les plages horaires pour les consultatons sans rendez-vous sont pour toutes clientèles.</strong></p>
        <p>La préinscription au service de consultation sans rendez-vous*** se fait à partir de 8 h pour les patients inscrits à l'UMF et à compter de 11 h pour toutes clientèles.</p>
        <p class="bg-warning">*** L'heure de votre préinscription ne constitue pas une heure fixe de rendez-vous, mais un moment réservé pour une consultation sans rendez-vous. Notez qu'aucune réservation ne pourra être prise en personne.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>L’Unité de médecine de famille offre diverses cliniques</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-plus logo-small"></span>
        <h4>Mini-chirurgies</h4>
        <p>Verrues, abcès, acrochordons, naevus, kystes, points de suture, biopsies.</p>
        <p><i>Référence obligatoire</i></p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4>Locomoteur</h4>
        <p>Évaluations de problèmes musculosquelettiques, infiltrations ou ponctions articulaires, suivis CSST, suivis douleur, suivis de traumatisme craniocérébral.</p>
        <p><i>Référence obligatoire</i></p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>Santé des femmes</h4>
        <p>Biopsies de l’endomètre, ménopause, pessaire, contraception, Pap test, installation de stérilets.</p>
        <p><i>Référence obligatoire</i></p>
      </div>
      </div>
      <br><br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-cloud logo-small"></span>
        <h4>Santé mentale</h4>
        <p></p>
        <p><i>Référence obligatoire</i></p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-baby-formula logo-small"></span>
        <h4>Clinique pédiatrique</h4>
        <p></p>
        <p><i>Référence obligatoire</i></p>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-info">
    <div class="row">
      <div class="col-sm-12">
        <h2>* Qu’est-ce qu’une unité de médecine de famille (UMF)</h2>
        <p>Une UMF est une unité d'enseignement de médecine de famille affiliée à une université, dans notre cas l’Université de Montréal. Il s’agit en fait d’une clinique où les médecins, sur une période de deux ans, terminent leurs études. On peut aussi y retrouver des étudiants d’autres professions dans le domaine de la santé. Mais, peu importe leur niveau de formation et leur discipline, les étudiants sont toujours supervisés par des médecins en pratique.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-info">
    <div class="row">
      <div class="col-sm-12">
        <h2>** Qu’est-ce qu’un médecin résident</h2>
        <p>Un médecin résident est un jeune médecin ayant reçu son doctorat universitaire en médecine. À ce titre, il peut porter des diagnostics et prescrire des traitements, mais uniquement dans le contexte de stages cliniques qui lui permettent de se spécialiser dans une discipline médicale et toujours sous la supervision d’un médecin enseignant.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
   <h2 class="text-center">TROUVER NOUS</h2>
   <div class="row">
     <div class="col-sm-4">
       <span class="glyphicon glyphicon-globe logo"></span>
     </div>
     <div class="col-sm-8">
       <p>Nos heures d’ouverture sont de 8 h à 16 h, du lundi au vendredi.</p>
       <p><span class="glyphicon glyphicon-map-marker"></span> 57, boul. Industriel, bureau 2200, St-Eustache, QC, J7R 5B9</p>
       <p><span class="glyphicon glyphicon-phone"></span> 450 491-6001</p>
       <p><span class="glyphicon glyphicon-print"></span> 450 491-7311</p>
       <p><span class="glyphicon glyphicon-envelope"></span> umf.csss-lddm@ssss.gouv.qc.ca</p>
     </div>
   </div>
  </div>

  <div class="container-fluid map_container">
    <div class="map_canvas">{{> googleMap name="umfMap" options=umfMapOptions}}</div>
  </div>
</template>
