<template name="invite">
  <div class="row">
    {{#with invitation}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3 class="page-header">Accepter l'invitation</h3>
      <form id="accept-invitation">
        <div class="form-group">
          <label for="emailAddress">Adresse courriel</label>
          <input disabled type="email" name="emailAddress" class="form-control" placeholder="Email Address" value="{{email}}">
          <label for="firstName">Prénom</label>
          <input type="text" name="firstName" class="form-control" placeholder="Prénom" value="">
          <label for="lastName">Nom de famille</label>
          <input type="text" name="lastName" class="form-control" placeholder="Nom de famille" value="">
        </div>
        <div class="form-group">
          <label for="password"><span class="pull-left">Mot de passe</span></label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Create Account">
        </div>
      </form>
    </div>
    {{else}}
      <div class="col-xs-12">
        <p class="alert alert-warning">Désoler, cette invitation n'est pas valide.</p>
      </div>
    {{/with}}
  </div>
</template>
