<template name="ctprCompleteModal">
  <div class="modal fade" id="ctpr-complete-modal" tabindex="-1" role="dialog" aria-labelledby="ctpr-complete-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ctpr-complete">Dernière étape</h4>
        </div>
        <form id="ctpr-complete-form">
          <div class="modal-body">
            <div class="form-group">
              <table class="clean">
                <tr class="clean">
                  <td class="clean">
                    <label for="emailAddress">Courriel client</label>
                    <input type="email" class="form-control" name="emailAddress">
                  </td>
                  <td class="clean">
                    <label for="emailAddress">Votre courriel</label>
                    <input type="email" class="form-control" name="emailDist" value="{{loggedUserEmail}}">
                  </td>
                </tr>
                <tr class="clean">
                  <td class="clean">
                    <label for="name">Nom client</label>
                    <input type="text" class="form-control" name="name">
                  </td>
                  <td class="clean">
                    <label for="name">Votre nom</label>
                    <input type="text" class="form-control" name="nameDist" value="{{loggedUserName}}">
                  </td>
                </tr>
                <tr class="clean">
                  <td class="clean">
                    <label for="phone">Téléphone client</label>
                    <input type="tel" class="form-control" name="phone">
                  </td>
                  <td class="clean">
                    <label for="phone">Votre téléphone</label>
                    <input type="tel" class="form-control" name="phoneDist">
                  </td>
                </tr>
                <tr class="clean">
                  <td class="clean">
                    <label for="company">Compagnie client</label>
                    <input type="text" class="form-control" name="company">
                  </td>
                  <td class="clean"></td>
                </tr>
              </table>
            </div>
            <div class="form-group">
              <label for="projet">Nom du projet</label>
              <input type="text" class="form-control" name="project">
            </div>
            <ul id="item-list" style="display:none;">
            </ul>
            <span id="codeId" style="display:none;"></span>
            <div class="form-group">
              <table class="prfl-len">
                <caption>Longueurs des PRFL requises <br>(ex: Pour 3 x 96" écrire 3 dans qté et 96 dans longueur)</caption>
                <thead>
                  <th>Groupe</th>
                  <th>Quantité</th>
                  <th>Longueur</th>
                  <th>Gradable</th>
                  <th>
                    <button type="button" class="btn plus-sign">
                      <span class="glyphicon glyphicon-plus-sign logo-small" aria-hidden="true"></span>
                    </button>
                  </th>
                </thead>
                <tbody>
                  <tr id="0">
                    <td>
                      <select id="group0" name="group">
                        <option value="ind" selected="selected">Individuel</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                        <option value="e">E</option>
                        <option value="f">F</option>
                        <option value="g">G</option>
                        <option value="h">H</option>
                        <option value="i">I</option>
                        <option value="j">J</option>
                        <option value="k">K</option>
                        <option value="l">L</option>
                        <option value="m">M</option>
                        <option value="n">N</option>
                        <option value="o">O</option>
                      </select>
                    </td>
                    <td><input id="qty0" type="text" class="form-control" name="qty"></td>
                    <td><input id="long0" type="text" class="form-control" name="long"></td>
                    <td><input id="dim0" type="checkbox" class="form-control" name="dim" value="dim"></td>
                    <td>
                      <button type="button" class="btn minus-sign">
                        <span class="glyphicon glyphicon-minus-sign logo-small-red" aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="error-messages"></div>
            <div class="form-group">
              <button type="button" class="btn btn-info calculate">Calculer</button>
              <div class="drivers">
                <p>Transformateurs requis : <span class="drivers-count">0</span></p>
                <ul class="drivers-list">
                </ul>
              </div>
              <div class="price">
                <p>Prix budget : <span class="price-value">0$</span></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="close" type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            <button id="submit" type="submit" class="btn btn-success" disabled>Envoyer la demande</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
