<template name="home">
{{#if isInRole 'admin,manager,user'}}
{{> ctprCompleteModal}}
<div class="jumbotron text-left">
  <h1><span class="glyphicon glyphicon-list-alt"></span> CTPR <small>Profilé sur mesure!</small></h1>
  <p class="text-block text-left">
    Le CTPR est une application interactive de O-LED qui vous aide à selectionner les bonnes composantes pour créer des profilés sur mesure. Profilé, lentille, ruban, embout, braquette, transformateur, nous vous aiderons à choisir se dont vous avez de besoin pour le meilleur prix.
  </p>
</div>
<div class="cart">
  <button class="btn cart-hide">
    <span class="glyphicon glyphicon-menu-down logo-small" aria-hidden="true"></span>
  </button>
  <button class="btn cart-show" style="display:none;">
    <span class="glyphicon glyphicon-menu-left logo-small" aria-hidden="true"></span>
  </button>
  <div class="resume text-center">
    <h2><u>résumé</u></h2>
    <div class="text-left">
      <ul class="item-list"></ul>
    </div>
  </div>
  <div class="footer">
    <button class="reset btn">
      <span class="glyphicon glyphicon-remove-sign logo-small-red" aria-hidden="true"></span>
    </button>
    <button class="continue btn" data-toggle="modal" data-target="#ctpr-complete-modal">
      <span class="glyphicon glyphicon-ok-sign logo-small" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div id="profile" class="container-fluid text-center">
  <div class="row content text-left">
    <h2>Ceci est du text expliquant l'application en étape avec du bla bla</h2>
  </div>
  <div class="row content">
    {{#each profiles}}
    <div class="col-sm-3">
      <div id="{{pn}}" class="panel panel-default text-center profile">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.png" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each property in properties}}
            <p>{{property}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="lens" class="container-fluid text-center">
	<div class="row content">
    {{#each lenses}}
    <div class="col-sm-2">
      <div id="{{pn}}" class="panel panel-default text-center lens">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.png" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each property in properties}}
            <p>{{property}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="endcap" class="container-fluid text-center">
	<div class="row content">
    {{#each endcaps}}
    <div class="col-sm-2">
      <div id="{{pn}}" class="panel panel-default text-center endcap">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.jpg" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each property in properties}}
            <p>{{property}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="bracket" class="container-fluid text-center">
	<div class="row content">
    {{#each brackets}}
    <div class="col-sm-2">
      <div id="{{pn}}" class="panel panel-default text-center bracket">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.jpg" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each property in properties}}
            <p>{{property}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="strip" class="container-fluid text-center">
  {{#each strips}}
  <div class="row content">
		<div class="col-sm-12">
      <div id="{{pn}}" class="panel panel-default text-center strip">
        <div class="panel-heading">
          <h1>{{desc}}</h1>
        </div>
        <div class="panel-footer">
          <table>
            <caption>Caractéristiques</caption>
            <tr>
              <th>DEL AU MÈTRE</th>
              <th>TENSION D'ENTRÉE</th>
              <th>COUPE</th>
              <th>DIMENSION</th>
              <th>ANGLE DU FAISCEAU</th>
              <th>TEMPÉRATURE</th>
              <th>FLUX LUMINEUX</th>
              <th>WATT AU MÈTRE</th>
              <th>IP</th>
            </tr>
            <tr>
              {{#each property in properties}}
                <td>{{property}}</td>
              {{/each}}
            </tr>
          </table>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.jpg" alt="{{pn}}"/>
        </div>
      </div>
		</div>
  </div>
  {{/each}}
</div>

<footer class="container-fluid text-center bg-grey">
  <a href="#" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>O-LED CTPR APP</p>
</footer>
{{/if}}
</template>
