<template name="home">
{{#if isInRole 'admin,manager,user,oled,nrg,master,provincial,regional'}}
{{> ctprCompleteModal}}
<div class="jumbotron text-left">
  <h1><span class="glyphicon glyphicon-list-alt"></span> PRFL <small>Profilé sur mesure!</small></h1>
  <p class="text-block text-left">
    Le PRFL est une application interactive de O-LED qui vous aide à selectionner les bonnes composantes pour créer des profilés sur mesure. Profilé, lentille, ruban, embout, braquette, transformateur, nous vous aiderons à choisir se dont vous avez de besoin pour le meilleur prix.
  </p>
</div>
<div class="cart" style="width:130px;height:120px;">
  <button title="Fermer" class="btn cart-hide" style="display:none;">
    <span class="glyphicon glyphicon-menu-down logo-small" aria-hidden="true"></span>
  </button>
  <button title="Ouvrir" class="btn cart-show">
    <span class="glyphicon glyphicon-menu-left logo-small" aria-hidden="true"></span>
  </button>
  <div class="resume text-center" style="display:none;">
    <h2><u>résumé</u></h2>
    <div class="text-left">
      <ul class="item-list"></ul>
    </div>
    <div class="text-left">
      <b>Produit selectionné:</b><br>
      <span class="product-code">OLED-PRFL-</span><span class="profile-code"></span><span class="lens-code"></span><span class="endcap-code"></span><span class="bracket-code"></span><span class="strip-code"></span>
    </div>
  </div>
  <div class="footer" style="display:none;">
    <button title="Réinitialiser" class="reset btn">
      <span class="glyphicon glyphicon-remove-sign logo-small-red" aria-hidden="true"></span>
    </button>
    <button title="Continuer" class="continue btn" data-toggle="modal" data-backdrop="false" data-target="#ctpr-complete-modal">
      <span class="glyphicon glyphicon-ok-sign logo-small" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div>
  <h3><b>Prennez note que vos sélections seront rapportées dans la zone flotante de droite que vous pouvez afficher et cacher en utilisant les flèches vertes.</b></h3>
</div>
<div id="profile" class="container-fluid text-center">
  <div class="row content text-left">
    <h3>Commencez par selectionner un type de profilé.</h3>
  </div>
  <div class="row content">
    {{#each profiles}}
    <div id="{{pn}}" class="col-sm-3 profile">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.png" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each attributes}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="lens" class="container-fluid text-center">
  <div class="row content text-left">
    <h3>Maintenant faite un choix de lentille selon celles disponibles pour le profilé selectionné.</h3>
  </div>
	<div class="row content">
    {{#each lenses}}
    <div id="{{pn}}" class="col-sm-2 lens">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.png" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each attributes}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="endcap" class="container-fluid text-center">
  <div class="row content text-left">
    <h3>Ensuite, choisissez si votre PRFL aura des embouts ou non.</h3>
  </div>
	<div class="row content">
    {{#each endcaps}}
      <div id="{{pn}}" class="col-sm-2 endcap" style="display:none;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>{{pn}}</h1>
          </div>
          <div class="panel-body thumbnail">
            <img src="{{pn}}.jpg" alt="{{pn}}"/>
          </div>
          <div class="panel-footer">
            <p>{{desc}}</p>
            {{#each attributes}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div id="bracket" class="container-fluid text-center">
  <div class="row content text-left">
    <h3>Selectionnez le type de braquette désiré.</h3>
  </div>
	<div class="row content">
    {{#each brackets}}
    <div id="{{pn}}" class="col-sm-2 bracket">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>{{pn}}</h1>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.jpg" alt="{{pn}}"/>
        </div>
        <div class="panel-footer">
          <p>{{desc}}</p>
          {{#each attributes}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="strip" class="container-fluid text-center">
  <div class="row content text-left">
    <h3>Finalement, faite un choix de ruban. (Voir les caractéristiques ci-dessous)<br>Vous devez faire un choix de TENSION D'ENTRÉE, de TEMPÉRATURE et d'IP.</h3>
  </div>
  {{#each strips}}
  <div class="row content">
		<div id="{{pn}}" class="col-sm-12 strip">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>{{desc}}</h1>
        </div>
        <div class="panel-footer">
          <table>
            <caption>Caractéristiques</caption>
            <tr>
              <th>TENSION D'ENTRÉE</th>
              <th>TEMPÉRATURE</th>
              <th>IP</th>
              <th>DEL AU MÈTRE</th>
              <th>FLUX LUMINEUX</th>
              <th>WATT AU MÈTRE</th>
              <th>COUPE</th>
              <th>DIMENSION</th>
              <th>ANGLE DU FAISCEAU</th>
            </tr>
            <tr>
              <td>
                <form>
                  {{#if onePower pn}}
                    {{#each powers}}
                      <input class="{{../pn}}" type="radio" name="power" value="{{this}}" checked> {{this}}<br>
                    {{/each}}
                  {{else}}
                    {{#each powers}}
                      <input class="{{../pn}}" type="radio" name="power" value="{{this}}"> {{this}}<br>
                    {{/each}}
                  {{/if}}
                </form>
              </td>
              <td>
                <form>
                  {{#if oneColor pn}}
                    {{#each colors}}
                      <input class="{{../pn}}" type="radio" name="color" value="{{this}}" checked> {{this}}<br>
                    {{/each}}
                  {{else}}
                    {{#each colors}}
                      <input class="{{../pn}}" type="radio" name="color" value="{{this}}"> {{this}}<br>
                    {{/each}}
                  {{/if}}
                </form>
              </td>
              <td>
                <form>
                  {{#if oneIp pn}}
                    {{#each ips}}
                      <input class="{{../pn}}" type="radio" name="ip" value="{{this}}" checked> {{this}}<br>
                    {{/each}}
                  {{else}}
                    {{#each ips}}
                      <input class="{{../pn}}" type="radio" name="ip" value="{{this}}"> {{this}}<br>
                    {{/each}}
                  {{/if}}
                </form>
              </td>
              {{#each attributes}}
                <td>{{this}}</td>
              {{/each}}
            </tr>
          </table>
        </div>
        <div class="panel-body thumbnail">
          <img src="{{pn}}.jpg" alt="{{pn}}"/>
        </div>
      </div>
		</div>
  </div>
  {{/each}}
</div>

<footer class="container-fluid text-center bg-grey">
  <a href="#" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p><a href="http://www.o-led.ca">O-LED.CA</a></p>
</footer>
{{/if}}
</template>
