<template name="managers">
  {{#if isInRole 'admin,manager'}}
    <div class="jumbotron">
      <h2 class="page-header"><span class="glyphicon glyphicon-list-alt"></span> Gestion du CTPR <small>Ajouter/Retirer/Mettre à jour</small></h2>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingProfile">
          <h2 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">
              Profilés
            </a>
          </h2>
        </div>
        <div id="collapseProfile" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingProfile">
          <div id="table" class="table-editable">
            <table class="table">
              <thead>
                <th>Produits</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Cost</th>
                <th>Attributes</th>
                <th><button class="table-add glyphicon glyphicon-plus"></button></th>
              </thead>
              <tbody>
                {{#each profiles}}
                <tr>
                  <td contenteditable="true">{{pn}}</td>
                  <td contenteditable="true">{{desc}}</td>
                  <td contenteditable="true">{{category}}</td>
                  <td contenteditable="true">{{cost}}</td>
                  <td>{{#each attribute in attributes}}|{{attribute}}|{{/each}}</td>
                  <td>
                    <button class="table-remove glyphicon glyphicon-remove"></button>
                  </td>
                </tr>
                {{/each}}
                <!-- This is our clonable table line -->
                <tr class="hide">
                  <td contenteditable="true">undefined</td>
                  <td contenteditable="true">undefined</td>
                  <td contenteditable="true">undefined</td>
                  <td contenteditable="true">0</td>
                  <td contenteditable="true"></td>
                  <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h2 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h2 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </a>
          </h2>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
