body {
	  font: 400 15px Lato, sans-serif;
	  line-height: 1.8;
	  color: #818181;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
}

h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid #bbb	;
  border-collapse: collapse;
}

caption {
	font-size: 18px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 400;
}


th, td {
  padding: 5px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
 background-color:#fff;
}

th {
  background-color: #8CC63E;
  color: white;
}

.jumbotron {
  background-color: #8CC63E;
  color: #ffffff;
  padding: 100px 25px;
}

.text-block{
	width: 60%;
}

.bg-grey {
  background-color: #c0c0c0;
}

.container {
	width: 100%;
}

.container-fluid {
    padding: 60px 50px;
}

.logo-small {
    color: #8CC63E;
    font-size: 50px;
}

.logo-small-red {
    color: red;
    font-size: 50px;
}

.logo {
    color: #8CC63E;
    font-size: 200px;
}

.thumbnail {
	padding: 0 0 15px 0;
}

.thumbnail img {
	width: 70%;
	height: 70%;
	margin-bottom: 10px;
}

.page-header small {
  color: #ffffff;
}

.navbar {
	margin-bottom: 0;
	background-color: #000;
	z-index: 200;
	border: 0;
	font-size: 12px;
	line-height: 1.42857143;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar .navbar-brand {
	color: #8CC63E;
}

.panel {
    border: 1px solid #8CC63E;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

.panel-heading {
    color: #fff !important;
    background-color: #8CC63E !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
		overflow-x:auto;
}

.panel-footer .tablehead {
    margin: 15px 0;
    background-color: #8CC63E;
    color: #fff;
}

.cart {
	position:fixed;
	border: 2px solid #8CC63E;
	top: 8%;
	right: 2%;
	background-color: white;
	width: 25%;
	height: 40%;
	z-index: 100;
	padding: 25px;
	box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

.cart button {
	float: right;
}

.cart .footer{
	border-top: 2px solid #8CC63E;
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 30px 10px 30px;
}

.cart .footer .reset {
	float: left;
}

.cart .footer .continue {
	float: right;
}

.hidden {
	display: none;
}

.selected {
	box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

.greyout_p {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
}

.greyout_s {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
}

.lens_grey {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
}

.endcap_grey {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
}

.bracket_grey {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
}

footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #8CC63E;
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}
@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}
